.input-container {

    width: 100%;
    max-width: 380px;
}

.input-label {
    display: flex;
    border-radius: var(--input-radius);
    border: var(--input-border);
    accent-color: var(--blue);
    overflow: hidden;
}

.input {
    flex-grow: 1;
    padding: var(--input-padding);
    color: var(--input-color);
    background-color: var(--input-bg);
    font-size: var(--input-size);
    font-family: var(--font-family);
    line-height: var(--input-size);
    border: none;
    outline: none;
}

.input-label:hover {
    box-shadow: 0 0 2px 0px var(--secondary);
}

.input__alert-box {
    color: red;
    font-size: small;
    padding-left: 1rem;
    /* display: none; */
}

.input[type="date"] {
    margin-right: 1rem;
}