.page-layout {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.page-layout__content {
    padding: 0 2rem;
    /* background-image: url('@/assets/aliados.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-attachment: fixed; */
}