.page-layout {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: max-content;
}

.page-layout__content {
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    /* background-image: url('@/assets/aliados.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-attachment: fixed; */

    overflow: auto;
}

.page-layout__title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 300;
}