.page-layout {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.page-layout__content {
    margin: auto;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}