.header {
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, var(--primary) 80%, transparent);
    z-index: 5;
    transform: translateY(1rem);
    user-select: none;

}