@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
@font-face {
  font-family: 'HeadingProWide';
  src: url('./assets/fonts/Heading-Pro-Wide-Black-trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

:root {
  font-family: 'Monserrat', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 300;

  --black: #111111;
  --white: #ffffff;
  --blue: #0066ff;

  --primary: var(--black);
  --secondary: var(--white);
  --highlight: var(--secondary)
    /* highlight correspondera a un tercer color en la version clara, en ese cas sera azul
  pero en el dark mode si sera el mismo que el secundario. esto quedara mejor definido cuando 
  se establezca el el conjunto de colores segun el esquema escogido */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--primary);
  color: var(--secondary);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */