@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Monserrat', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 300;

  --black: #111111;
  --white: #ffffff;
  --blue: #0066ff;

  --primary: var(--black);
  --secondary: var(--white)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--primary);
  color: var(--secondary);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */